<div class="container" >
    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th scope="col"><a href="/utilizadores">Utilizadores</th>

          <th scope="col"><a href="/planos">Planos de treino</a></th>

          <th scope="col"><a href="/equipamento">Equipamentos</a></th>

          <th scope="col"><a href="/exercicios">Exercícios</a></th>
        </tr>
      </thead>
      </table>

  </div>